---
import "../styles/style.css";
const { titel, overskrift1, text1, overskrift2, text2, overskrift3, text3, overskrift4, text4, overskrift5, text5, overskrift6, text6 } = Astro.props;
---

<div class="accordion-body">
  <div class="accordion">
    <hr />
    <div class="container">
      <div class="label">
        <p>{overskrift1}</p>
      </div>
      <div class="content">
        <p>
          {text1}
        </p>
      </div>
    </div>
    <hr />
    <div class="container">
      <div class="label">
        <p>{overskrift2}</p>
      </div>
      <div class="content">
        <p>
          {text2}
        </p>
      </div>
    </div>
    <hr />
    <div class="container">
      <div class="label">
        <p>{overskrift3}</p>
      </div>
      <div class="content">
        <p>
          {text3}
        </p>
      </div>
    </div>
    <hr />
    <div class="container">
      <div class="label">
        <p>{overskrift4}</p>
      </div>
      <div class="content">
        <p>
          {text4}
        </p>
      </div>
    </div>
    <hr />
    <div class="container">
      <div class="label">
        <p>{overskrift5}</p>
      </div>
      <div class="content">
        <p>
          {text5}
        </p>
      </div>
    </div>
    <hr />
    <div class="container">
      <div class="label">
        <p>{overskrift6}</p>
      </div>
      <div class="content">
        <p>
          {text6}
        </p>
      </div>
    </div>
    <hr />
  </div>
</div>

<style>
  /* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */

  .accordion {
    max-width: 800px;
    margin: auto;
    color: var(--color_white);
    background-color: var(--color_black);
  }

  .accordion .container {
    position: relative;
    margin: 10px 10px;
  }

  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

  .accordion .label {
    position: relative;
    padding: 10px 0;
    color: var(--color_white);
    cursor: pointer;
    font-weight: bold;
  }

  .accordion .label p {
    font-weight: bold;
    font-size: var(--font_size_medium);
  }
  /* Positions the plus sign 5px from the right. Centers it using the transform property. */

  .accordion .label::before {
    content: "+";
    color: var(--color_white);
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
  }

  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */

  .accordion .content {
    position: relative;
    background: var(--color_black);
    height: 0;
    text-align: justify;
    max-width: 670px;
    overflow: hidden;
    transition: 0.5s;
  }
  .content p {
    font-size: var(--font_size_regular);
    max-width: none;
  }

  /* Adds a horizontal line between the contents */

  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid var(--color_lightgrey);
  }

  /* Unhides the content part when active. Sets the height */

  .accordion .container.active .content {
    height: auto;
  }

  /* Changes from plus sign to negative sign once active */

  .accordion .container.active .label::before {
    font-size: 30px;
  }

  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
    .accordion {
      padding-inline: 45px;
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
  }
</style>

<script>
  const accordion = document.getElementsByClassName("container");

  for (let i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener("click", function () {
      this.classList.toggle("active");
    });
  }
</script>
