---
import "../styles/style.css";
import Button from "./Button.astro";
---

<article class="produkt">
  <!-- <a href="/4_singleview">
    <img src={data.image} alt={data.name} />
    <div class="content">
      <div class="product_name">
        <p>{data.name}</p>
        <p>{data.type2}</p>
      </div>
      <p>{data.price}</p>
    </div>
  </a> -->
  <section></section>
</article>

<style>
  article {
    flex-direction: column;
  }
  img {
    max-width: 304px;
    height: auto;
  }

  img:hover {
    transform: scale(1.02);
  }
</style>
