---
import "../styles/style.css";
export interface ProduktProps {
  images: string[]; // Change images to be an array of strings
  name: string;
  type2: string;
  price: string;
}
const { images, name, type2, price } = Astro.props as ProduktProps;
---

<article class="product">
  <a href="/4_singleview" class="product-link">
    <div class="image-container">
      {images && <img class="product-image" src={images[0]} alt={name} />}
      {images && images.length > 1 && <img class="product-image-hover" src={images[1]} alt={`${name} hover`} />}
      <div class="image-overlay"></div>
    </div>
    <div class="product-info">
      <p class="product-name">{name}</p>
      <p class="product-variant">{type2}</p>
      <p class="product-price">{price}</p>
    </div>
  </a>
</article>

<style>
  .product {
    max-width: 304px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    cursor: pointer; /* Change cursor to pointer to indicate clickable element */
  }

  .image-container {
    position: relative;
    overflow: hidden;
    height: 304px; /* Adjust height as needed */
  }

  .product-image,
  .product-image-hover {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .product-image-hover {
    opacity: 0;
  }

  .image-container:hover .product-image {
    opacity: 0;
  }

  .image-container:hover .product-image-hover {
    opacity: 1;
  }

  .image-container:hover .image-overlay {
    opacity: 1; /* Show the overlay on hover */
  }

  .product-info {
    margin-top: 16px;
  }

  .product-name {
    font-size: var(--font_size_regular);
    margin-bottom: 8px;
    font-weight: bold;
  }

  .product-variant,
  .product-price {
    margin-bottom: 4px;
  }

  @media screen and (min-width: 768px) {
    .product {
      padding-top: 0px;
    }
    .product-name {
      font-size: var(--font_size_medium);
    }
  }

  @media screen and (min-width: 1024px) {
    .product-name {
      font-size: var(--font_size_large);
    }
  }
</style>
