---
import "../styles/style.css";
const { images, name, type2, price, id, type } = Astro.props;
---

<article class="product">
  <a href={`/produkter/${id}`} class="product-link">
    <div class="image-container">
      {
        images && images.length > 0 ? (
          <>
            <img class="product-image" src={images[0]} alt={`${name} - Main Image`} />
            {images.length > 1 && <img class="product-image-hover" src={images[1]} alt={`${name} - Hover Image`} />}
          </>
        ) : (
          <div class="image-placeholder">Image not available</div>
        )
      }
    </div>
    <div class="product-info">
      <p class="product-name">{name}</p>
      <p class="product-variant">{type2}</p>
      <p class="product-price">{price},00 DKK</p>
    </div>
  </a>
</article>

<style>
  .product {
    max-width: 304px;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    height: 275px;
    background-color: var(--color_white); /* Fallback background color */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-image,
  .product-image-hover {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .product-image-hover {
    opacity: 0;
  }

  .image-container:hover .product-image {
    opacity: 0;
  }

  .image-container:hover .product-image-hover {
    opacity: 1;
  }

  .image-placeholder {
    color: #999;
    font-size: 1.2em;
  }

  .product-info {
    margin-top: 16px;
  }

  .product-name {
    font-size: var(--font_size_regular);
    margin-bottom: 8px;
    font-weight: bold;
  }
  .product-name:hover {
    text-decoration: underline;
  }
  .product-variant {
    opacity: 80%;
    font-size: var(--font_size_small);
  }
  .product-variant,
  .product-price {
    margin-bottom: 4px;
  }

  .product-price {
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    .image-container {
      height: 275px;
    }
    .product-image,
    .product-image-hover {
      width: 100%;
      height: auto;
      transition: opacity 0.3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
    }
    .product {
      padding-top: 0px;
    }
    .product-name {
      font-size: var(--font_size_medium);
    }
  }

  @media screen and (min-width: 1024px) {
    .product-name {
      font-size: var(--font_size_large);
    }

    .image-container {
      height: 304px;
    }
  }
</style>
