---
import "../styles/style.css";
import Button from "./Button.astro";

const { image, name, price, about, material, weight, more, obs, size, status, tracklist } = Astro.props.productDetails || {};
---

<!-- <article>
  <Breadcrumb2 navn1="Merchandise" navn2="Tøj" navn3={post?.name || ""} />
</article> -->
<article>
  <div class="billeder">
    <div class="product-image">
      <img src={image[0]} alt={name} />
    </div>
    <div class="billede_grid">
      {
        image.map((img) => {
          return <img src={img} class="small" alt={name} />;
        })
      }
    </div>
  </div>
  <div class="product-info">
    <div class="name-price">
      <h3>{name}</h3>
      <h5>{price},-</h5>
    </div>
    <div class="description">
      <p>{about}</p>
      <ul>
        {material && <li>Material: {material}</li>}

        {weight && <li>Weight: {weight}</li>}

        {more && <li>More: {more}</li>}

        {obs && <li>Obs: {obs}</li>}
        {size && <li>Size: {size}</li>}
        {status && <li>Status: {status}</li>}
        {tracklist && <li>Tracklist: {tracklist}</li>}
      </ul>
    </div>
    <div class="form-submit">
      <Button style="primary">Tilføj til kurv</Button>
    </div>
  </div>
</article>

<style>
  article {
    padding-top: 24px;
  }
  .small {
    width: 75px;
  }
  .navn_pris,
  .description,
  .input {
    padding-bottom: 24px;
  }
  h3 {
    padding-bottom: 8px;
  }
  .description p {
    padding-bottom: 16px;
  }
  li {
    padding-top: 8px;
  }
  .billeder {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  .billede_grid {
    display: flex;
    gap: 16px;
  }

  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      margin: auto;
      padding-top: 24px;
    }

    .billeder {
      display: flex;
      gap: 16px;
      flex-direction: row;
    }

    .billede_grid {
      display: flex;
      flex-direction: column;
      gap: 16px;
      order: -1;
    }

    .navn_pris,
    .description,
    .input {
      padding-bottom: 24px;
    }
    h3 {
      padding-bottom: 8px;
    }
    .description p {
      padding-bottom: 16px;
    }
    li {
      padding-top: 8px;
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
  }
</style>
