---
import "../styles/style.css";
import Button from "./Button.astro";

export interface ProductDetails {
  name: string;
  price: string;
  images: string[];
  about: string;
  material: string;
  weight: string;
  more: string;
  obs: string;
  size: string[];
  status: string;
  tracklist: string[];
}
const { images, name, price, about, material, weight, more, obs, size, status, tracklist } = Astro.props.productDetails || {};
---

<article>
  <div class="product-image">
    {images && <img src={images[0]} alt={name} />}
  </div>
  <div class="product-info">
    <div class="name-price">
      <h3>{name}</h3>
      <h5>{price}</h5>
    </div>
    <div class="description">
      <p>{about}</p>
      <ul>
        <li>Material: {material}</li>
        <li>Weight: {weight}</li>
        <li>More: {more}</li>
        <li>Obs: {obs}</li>
        <li>Size: {size}</li>
        <li>Status: {status}</li>
        <li>Tracklist: {tracklist}</li>
      </ul>
    </div>
    <div class="form-submit">
      <Button style="primary">Tilføj til kurv</Button>
    </div>
  </div>
</article>

<style>
  article {
    padding-top: 24px;
  }
  .navn_pris,
  .description,
  .input {
    padding-bottom: 24px;
  }
  h3 {
    padding-bottom: 8px;
  }
  .description p {
    padding-bottom: 16px;
  }
  li {
    padding-top: 8px;
  }

  /* ___________________________ TABLET  ___________________________*/
  @media screen and (min-width: 768px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      margin: auto;
      padding-top: 24px;
    }
    .navn_pris,
    .description,
    .input {
      padding-bottom: 24px;
    }
    h3 {
      padding-bottom: 8px;
    }
    .description p {
      padding-bottom: 16px;
    }
    li {
      padding-top: 8px;
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
  }
</style>
